@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@config "../tailwind.config.js";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nova Black';
  src: url('/fonts/NovaBlack.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}