@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@config "../tailwind.config.js";
/* @custom-variant dark (&:where(.dark, .dark *)); */

@font-face {
  font-family: 'SF Mono';
  src: url('/fonts/SFMono.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nova Black';
  src: url('/fonts/NovaBlack.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, linear-gradient(to top, #FFFFFF, #E5E5E5));
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, #4C4C4C);
}

body::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active-color, #000000);
}

body.dark::-webkit-scrollbar-track {
  background: linear-gradient(to top, #0E365D, #001F3F);
}

body.dark::-webkit-scrollbar-thumb {
  background: #ADADAD;
}

body.dark::-webkit-scrollbar-thumb:active {
  background: #D9D9D9;
}